body {
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    margin: 0;
    padding-top: auto;
    padding-bottom: auto;
    overflow: auto;
    background-image: url(https://dl.strem.io/addon-background.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

h2 {
    font-size: 25px;
    color: #ffffff;
    margin-bottom: 10px;
    font-weight: 100;
}

.outer-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.inner-container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px 30px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding-top: auto;
    padding-bottom: auto;
}

.logo-container img {
    width: 120px;
}

.features-container {
    margin-bottom: 30px;
}

.features-container ul {
    list-style: none;
    padding: 0;
    color: #cccccc;
    font-size: 15px;
}

.features-container ul li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    flex-wrap: wrap;
    text-align: left;
}

.features-container ul li i {
    color: #ffffff;
    margin-right: 8px;
    font-size: 20px;
}

.features-container ul li code {
    background-color: rgba(255, 255, 255, 0.1);
    color: #cccccc;
    border-radius: 4px;
    font-family: 'Courier New', Courier, monospace;
}

.features-container ul li b {
    margin-right: 5px;
    padding: 0;
}

.config-container p a {
    font-size: 18px;
    color: #ffffff;
}

.config-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.config-container label {
    position: relative;
    display: inline-block;
    width: 50%;
    padding: 12px 20px;
    font-size: 17px;
    color: #000000;
    border-radius: 50px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-bottom: 15px;
}

.config-container input[type="checkbox"] {
    display: none;
}

.config-container input[type="checkbox"]+label {
    background-color: #ffffff;
}

.config-container input[type="checkbox"]+label:hover {
    background-color: #00A0FA;
    color: #ffffff;
    font-weight: 600;
}

.config-container input[type="checkbox"]:checked+label {
    background-color: #00A0FA;
    color: #ffffff;
    font-weight: 600;
}

.config-container input[type="checkbox"]:checked+label:hover {
    background-color: #277cae;
    color: #000000;
    font-weight: 400;
}

.config-container input[type="checkbox"]:checked+label::after {
    content: '✔';
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 17px;
    color: #ffffff;
}

.config-container button {
    align-self: center;
    background-color: #1db131;
    color: #ffffff;
    border: none;
    padding: 12px 25px;
    font-size: 17px;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 70%;
    margin-bottom: 20px;
}

.config-container button:hover {
    background-color: #2dcb42;
    font-weight: 600;
}

.config-container button:disabled {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
}

.config-container .vertical-space {
    height: 20px;
}

@media (max-width: 768px) {
    h2 {
        font-size: 20px;
    }

    .features-container ul {
        font-size: 14px;
    }

    .features-container ul li i {
        font-size: 17px;
    }

    .config-container label {
        width: 50%;
        font-size: 16px;
    }

    .config-container button {
        width: 70%;
        font-size: 16px;
    }

    .config-container p a {
        font-size: 16px;
    }

    .config-container input[type="checkbox"]+label:hover {
        background-color: #ffffff;
        color: #000000;
        font-weight: 400;
    }

    .config-container input[type="checkbox"]:checked+label:hover {
        background-color: #00A0FA;
        color: #ffffff;
        font-weight: 600;
    }
}

@media (max-width: 568px) {
    .features-container h2 {
        font-size: 18px;
    }

    .features-container ul {
        font-size: 13px;
    }

    .features-container ul li i {
        font-size: 16px;
    }

    .config-container label {
        width: 60%;
        font-size: 14px;
    }

    .config-container button {
        width: 95%;
        font-size: 14px;
    }

    .config-container p a {
        font-size: 14px;
    }

    .config-container input[type="checkbox"]+label:hover {
        background-color: #ffffff;
        color: #000000;
        font-weight: 400;
    }

    .config-container input[type="checkbox"]:checked+label:hover {
        background-color: #00A0FA;
        color: #ffffff;
        font-weight: 600;
    }
}